version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    image: huzaifa8901/backend:latest
    build: ./backend
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/meancrud
      - PORT=5000
    depends_on:
      - mongo

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./frontend/dist/angular-15-crud:/usr/share/nginx/html:ro
    depends_on:
      - backend

volumes:
  mongo_data:
